<!-- Images container -->
<div class="images-container" *ngIf="(imagesDetails$ | async) && (imagesDetails$ | async).length >= 0">

  <!-- Image data -->
  <div class="image-wrapper" *ngFor="let imageDetails of imagesDetails$ | async">
    <img appImageLoader [imageLoaderTemplate]="imageLoaderTemplate" [imageErrorTemplate]="imageErrorTemplate"
         [src]="imageDetails.url" [attr.alt]="imageDetails.title"/>
    <p>{{ imageDetails.title }}</p>
  </div>

</div>
<!-- /Images container -->

<!-- Image loader template -->
<ng-template #imageLoaderTemplate>
  <div class="image-loader">Loading image source</div>
</ng-template>

<!-- Image error template -->
<ng-template #imageErrorTemplate>
  <div class="image-error">Image source couldn't be loaded</div>
</ng-template>

<!-- No images container -->
<div class="no-images" *ngIf="(imagesDetails$ | async) && (imagesDetails$ | async).length === 0">
  <h2>No images available</h2>
</div>

<!-- Loading container -->
<div class="loading-container"
     *ngIf="(imagesDetails$ | async) !== undefined && (imagesDetails$ | async)?.length === null">
  <h2>Loading images list</h2>
</div>

<!-- Error container -->
<div class="error-container" *ngIf="(imagesDetails$ | async) === undefined">
  <h2>Sorry, but an error happened</h2>
</div>
